body {
    background-color: #f5f9ec;
}
.container {
    width: 1235px;
    margin-left: 0px;
    padding-left: 0px;
}
.row div {
    height: 300px;
}
#buffer {
    height: 45px;
}
#header {
    background: url("../images/header_gradient.png") repeat-x top left;
    height: 135px;
    min-width: 920px;
}
#logo {
    padding-top: 37.5px;
    padding-bottom: 37.5px;
}
header .col-md-3 {
    padding-left: 0px;
}