body {
    background-color: #f5f9ec;
}
header {
    width: 85%;
    max-width: 1220px;
}
main {
    width: 85%;
    max-width: 1220px;
}
footer {
    width: 85%;
    max-width: 1220px;
}
.container-fluid {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 50px;
}
#buffer {
    height: 45px;
}
#header {
    background: url("../images/header_gradient.png") repeat-x top left;
    height: 135px;
    min-width: 920px;
}
#logo {
    margin-left: 75px;
    margin-top: 9px;
}
.head_left {
    width: 22%;
}
.head_right {
    width: 78%;
}
header .head_left {
    height: 135px;
}
#header .slogan {
    margin-top: 30px;
}
#buf {
    height: 16px;
}
div .head_left {
    padding: 0px 0px 0px 0px;
}
#bebe {
    margin-top: 16px;
}
div .head_right {
    padding: 0px  0px  0px  0px;
}
#slogan {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
#input {
    margin: 18px 0px 0px;
}
input {
    width: 80%;
    height: 20px;
    min-width: 568px;
}
.btn {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 37px;
}
.banner {
    position: relative;
}
.centercolumn {
    background-color: #f5f9ec;
    font-size: 1.15em;
    color: #fff;
    text-align: center;
    width: 44.66666667%;
    padding: 0px;
}
.centercolumn a {
    color: white;
}
.rightcolumn {
    background-color: #dbe9b2;
    margin-left: 2%;
    width: 31.33333333%;
    padding: 0px 0px 0px 0px;
}
#maincontainer {
    min-width: 920px;
}
.leftcolumn {
    width: 22%;
}
.leftcolumn .nav {
    padding: 0px 25px 0px 0px;
    margin: 0px 0px 20px 32px;
}

#god_kino {
    width: 165px;
    height: 54px;
    margin-left: 11px;
}
.leftcolumn li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#news {
    float: left;
    padding-right: 10px;
}
.more_info {
    color: #dbe9b2;
    font-size: 0.8em;
    text-align: left;
}
a:hover {
    text-decoration: none;
}
dt {
    width: 70px;
    clear: left;
    float: left;
    padding-top: 17px;
    margin-left: 10px;
    margin-right: -10px;
}
dd {
    margin-left: 70px;
    padding: 10px 0px 10px 0px;
}
dd a{
    color: black;
    font-size: 0.53em;
}
.rightcolumn dl {
    margin: 0px;
}
.rightcolumn h1 {
    margin-top: 0px;
}
.rightcolumn dd h1{
    line-height: 0.6em;
}
.rightcolumn h1 p {
    clear: none;
}
.hotnews {
    background: #646366 url(../images/content_banner_bg.gif) repeat-x top left;
    margin: 0px 0px 0px 0px;
    padding: 8px 8px 8px 8px;
}
.news_all {
    background-color: #f5f9ec;
    text-align: left;
    color: black;
}
.news_all h3 {
    color: #889f15;
    font-size: 0.9em;
    margin-bottom: 0px;
}
.news_all span {
    color: #93603f;
}
.news {
    margin-top: 10px;
}
.news_all .news span {
    font-size: 0.9em;
}
.news_all .news h1 {
    font-size: 1.2em;
    margin-top: 0px;
}
.news_all .news p {
    font-size: 0.8em;
}
.news_all .news a {
    color: black;
    text-decoration: underline;
}
#submenu {
    list-style-type: none;
    padding-left: 0px;
}
#submenu li {
    background: transparent url(../images/list_marker.gif) no-repeat 0% 6px;
    padding: 0px 0px 0px 20px;
    border-bottom: 1px solid #d2baa0;
}
#submenu li span {
    color: black;
}
#footercontainer {
    background: url(../images/footer_gradient.gif) repeat-x top left;
}
footer .row {
    min-width: 920px;
}
#footercontainer div {
    margin: 0px ;
    padding:  0px ;
}
footer .container-fluid {
    margin: 0px ;
    padding:  0px ;
}
footer .container-fluid .row {
    margin: 0px ;
    padding:  0px ;
}
#footercontainer a {
    text-decoration: underline;
    padding-left: 25px;
    color: white;
}

#footercontainer p {
    color: #acc81e;
    padding-left: 25px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
